<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>homebrew.mxcl.sleepwatcher</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/opt/sleepwatcher/sbin/sleepwatcher</string>
		<string>-V</string>
		<string>-D</string>
		<string>/Users/<USER>/.sleep</string>
		<string>-E</string>
		<string>/Users/<USER>/.wakeup</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
